package {{ .PackageName }}

{{ range $index, $type := .Schema.IntEnums -}}
{{ end }}

{{ range $index, $type := .Schema.StringEnums -}}
{{ end }}

{{ range $index, $type := .Schema.ComplexTypes -}}
type {{ .Name }} struct {
{{ range .Properties }}
	{{ .Name }} {{ .ValueType.Name }}
{{ end }}
}
{{ end }}

// :)
