syntax = "proto3";

package {{ .PackageName }}

option go_package = "{{ .GoPackageName }}";

{{- if containsObject }}
import "google/protobuf/any.proto";
{{ end -}}
{{- if containsDate }}
import "google/protobuf/date.proto";
{{ end -}}
{{- if containsTime }}
import "google/protobuf/timeofday.proto";
{{ end -}}
{{- if containsTimestamp }}
import "google/protobuf/timestamp.proto";
{{ end -}}

{{- range $index, $type := .Schema.IntEnums }}

enum {{ $type.Name }} {
{{- range $type.Values }}
    VALUE_{{ . }} = {{ . }};
{{- end }}
}
{{ end -}}


{{- range $index, $type := .Schema.StringEnums }}

enum {{ $type.Name }} {
{{- range $index, $value := $type.Values }}
	{{ upperCase $value }} = {{ add $index 1 }};
{{- end }}
}
{{- end }}

{{ range $key, $type := .Schema.ComplexTypes -}}
message {{ $type.Name }} {
{{ range $index, $prop := $type.Properties }}
	{{ getProtoType $prop.Name $prop.ValueType }} {{ $prop.Name }} = {{ add $index 1 }};
{{ end }}
}

{{ end }}
